python-telegram-bot[json]==13.3
emoji
geopy==1.21.0
vobject==0.9.6.1
fuzzywuzzy[speedup]==0.18.0
python-dateutil==2.8.1
camelot-py[cv]
numpy
pandas
git+https://gitlab.com/HirschHeissIch/ptbstats.git@v1.3
pyocclient==0.6
git+https://github.com/Bibo-Joshi/yourls-python.git@extensions
